@import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}

html {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}



/* Team.jsx and Office. animations*/


@keyframes movingBorder {
  0% { box-shadow: 0 0 5px #007aff, 0 0 10px #00ffcc; }
  50% { box-shadow: 0 0 15px #00ffcc, 0 0 20px #007aff; }
  100% { box-shadow: 0 0 5px #007aff, 0 0 10px #00ffcc; }
}

.border-animate {
  border-width: 1px;
  animation: movingBorder 2s linear infinite;
}

@keyframes gentlePulse {
  0% {
    -webkit-text-stroke: 2px rgba(246, 242, 230, 0.4);
  }
  50% {
    -webkit-text-stroke: 2px rgba(246, 242, 230, 0.7);
  }
  100% {
    -webkit-text-stroke: 2px rgba(246, 242, 230, 0.4);
  }
}

.gentle-pulse {
  -webkit-text-stroke: 2px rgba(246, 242, 230, 0.5);
  color: transparent;
  animation: gentlePulse 2s infinite ease-in-out;
}

@keyframes gentlePulseNav {
  0% {
    box-shadow: 0px 0px 10px rgba(246, 242, 230, 0.4);
    border-bottom: 2px solid rgba(246, 242, 230, 0.4);
  }
  50% {
    box-shadow: 0px 0px 15px rgba(246, 242, 230, 0.7);
    border-bottom: 2px solid rgba(246, 242, 230, 0.7);
  }
  100% {
    box-shadow: 0px 0px 10px rgba(246, 242, 230, 0.4);
    border-bottom: 2px solid rgba(246, 242, 230, 0.4);
  }
}

@layer utilities {
  .animate-gentlePulseNav {
    animation: gentlePulseNav 2s infinite ease-in-out;
  }
}


.team-img {
  transition: transform 0.5s ease-in-out;
}
.team-img:hover {
  transform: rotateY(180deg);
}

@keyframes glitch {
  0% {
    text-shadow: 2px 2px 0 red, -2px -2px 0 cyan;
  }
  25% {
    text-shadow: -2px 2px 0 red, 2px -2px 0 cyan;
  }
  50% {
    text-shadow: 2px -2px 0 red, -2px 2px 0 cyan;
  }
  75% {
    text-shadow: -2px -2px 0 red, 2px 2px 0 cyan;
  }
  100% {
    text-shadow: 2px 2px 0 red, -2px -2px 0 cyan;
  }
}

.glitch-text {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  position: relative;
  text-transform: uppercase;
  animation: glitch 0.2s infinite;
  background: black;
  padding: 10px;
  display: inline-block;
}


/* ------ */
/* Primary Header */

header{
  font-family: 'Inter';
}
.primary-navigation{
  list-style: none;
  padding : 0;
  margin : 0;
}

.mobile-nav-toggle {
  display: none;
}

.primary-navigation a {
  text-decoration: none;
}

.primary-navigation a > [ aria-hidden = "true" ] {
  font-weight: 700;
  margin-inline-end : .5em;
}

@media (max-width: 40rem ) {
  .primary-navigation {
    gap : var(--gap,1rem);
    z-index : 1000;
    --gap : 2em;
    position : fixed;
    font-weight: 700;
    height: 100vh;
    flex-direction: column;
    inset : 0 0 0 30%;
    padding : min(30vh , 10rem) 3rem;
    background : hsl(0 0% 100% / 0.2);
    backdrop-filter: blur(.75rem);
    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }

  .primary-navigation[data-visible = "true"]{
    transform: translateX(0%);
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    background : url('/menu.svg');
    width : 2rem;
    background-repeat: no-repeat;
    aspect-ratio : 1;
    top : 1.5rem;
    right : 1.5rem;
    z-index : 9999;
    border : 0;
  }
}

/* Footer */
.footer-bg{
  background: linear-gradient(
  to bottom,
  #937688 0%,
  #5557C2 19%,
  #1E183A 100%
);
}


/* ------ */